<div class="container-fluid footer footer-css">
  <div class="col-xs-12 footer-connect">
    <ul>
      <% if user_signed_in? %>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Sign out" %>
          <% end %>
        </li>
         <li>
          <%= link_to 'Mon espace journaliste', account_path %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Nouveau journaliste', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Espace jouraliste', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

