<nav class='cl-effect-21'>
  <div class="container-fluid navigation ">
    <div class="col-md-12 logo_space text-center" id='logo_id'>
      <%= image_tag 'AYA-logo.png', :class => 'img-circle logo' %>
    </div>


      <div class="col-md-12 navbar text-center">
        <ul class="navbar_ul">
          <li class="navbar_link ">
            <%= link_to root_path do %>
    Home
            <% end %>
          </li>

          <% if params[:themes] == "politique" %>
            <li class="navbar_link activ">
              <%= link_to 'http://localhost:3000/politique', {:class => "active"} do %>
                 Politique
              <% end %>
            </li>
          <% else %>
            <li class="navbar_link ">
              <%= link_to 'http://localhost:3000/politique' do %>
                 Politique
              <% end %>
            </li>
          <% end %>



          <% if params[:themes] == "economie" %>
            <li class="navbar_link activ">
              <%= link_to 'http://localhost:3000/economie', {:class => "active"} do %>
                 Economie
              <% end %>
            </li>
          <% else %>
            <li class="navbar_link ">
              <%= link_to 'http://localhost:3000/economie' do %>
                 Economie
              <% end %>
            </li>
          <% end %>


          <% if params[:themes] == "international" %>
            <li class="navbar_link activ">
              <%= link_to 'http://localhost:3000/international', {:class => "active"} do %>
                 International
              <% end %>
            </li>
          <% else %>
            <li class="navbar_link ">
              <%= link_to 'http://localhost:3000/international' do %>
                 International
              <% end %>
            </li>
          <% end %>

           <% if params[:themes] == "droit" %>
            <li class="navbar_link activ ">
              <%= link_to 'http://localhost:3000/droit', {:class => "active"} do %>
                 Droit
              <% end %>
            </li>
          <% else %>
            <li class="navbar_link ">
              <%= link_to 'http://localhost:3000/droit' do %>
                 Droit
              <% end %>
            </li>
          <% end %>

          <% if params[:themes] == "culture" %>
            <li class="navbar_link activ ">
              <%= link_to 'http://localhost:3000/culture', {:class => "active"} do %>
                 Culture
              <% end %>
            </li>
          <% else %>
            <li class="navbar_link ">
              <%= link_to 'http://localhost:3000/culture' do %>
                Culture
              <% end %>
            </li>
          <% end %>

          <% if params[:themes] == "le-havre" %>
            <li class="navbar_link activ">
              <%= link_to 'http://localhost:3000/le-havre', {:class => "active"} do %>
                Le Havre
              <% end %>
            </li>
          <% else %>
            <li class="navbar_link ">
              <%= link_to 'http://localhost:3000/le-havre' do %>
                 Le Havre
              <% end %>
            </li>
          <% end %>


        </ul>
      </div>
  </div>
</nav>
