<nav>
  <div class="container-fluid navigation ">
    <div class="col-md-12 logo_space text-center">
      <%= image_tag 'logo.png', :class => 'img-circle logo' %>
    </div>
      <div class="col-md-12 navbar text-center">
        <ul class="navbar_ul">
          <li class="navbar_link">
            <%= link_to root_path do %>
              <i class="fa fa-home"></i> Home
            <% end %>
          </li>
          <li class="navbar_link">
            <%= link_to 'http://journal-yann-production.herokuapp.com/politique' do %>
              <i class="fa fa-university"></i> Politique
            <% end %>
          </li>
          <li class="navbar_link">
            <%= link_to 'http://journal-yann-production.herokuapp.com/economie' do %>
              <i class="fa fa-eur"></i> Economie
            <% end %>
          </li>
          <li class="navbar_link">
            <%= link_to 'http://journal-yann-production.herokuapp.com/international' do %>
              <i class="fa fa-globe"></i> International
            <% end %>
          </li>
          <li class="navbar_link">
            <%= link_to 'http://journal-yann-production.herokuapp.com/droit' do %>
              <i class="fa fa-gavel"></i> Droit
            <% end %>
          </li>
          <li class="navbar_link">
            <%= link_to 'http://journal-yann-production.herokuapp.com/culture' do %>
              <i class="fa fa-book"></i> Culture
            <% end %>
          </li>
          <li class="navbar_link">
            <%= link_to 'http://journal-yann-production.herokuapp.com/le-havre' do %>
              <i class="fa fa-building-o"></i> Le Havre
            <% end %>
          </li>
        </ul>
      </div>
  </div>
</nav>
